body{
    background-color: black;
    font-family: 'Comic Sans MS';
}
a{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 120px;
    letter-spacing: 2px;
    font-weight: normal;

}

b{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 120px;
    letter-spacing: 2px;
    font-weight: normal;
}

